fastapi
uvicorn
openai
weaviate-client
langchain
langchain-community
langchain-weaviate
sentence-transformers
pandas
numpy
python-dotenv
fuzzywuzzy
langchain-huggingface
scikit-learn
joblib
python-levenshtein
sentence-transformers